<div class="text-center" data-ng-show="!albumSelected">
	<br /> <em>Select an Album first</em> <br />
</div>

<div id="_mainPanel" class="panel panel-primary"
	data-ng-show="albumSelected">
	<div class="panel-body" data-ng-show="!tagsParsed">
		<!-- data table options -->
		<div id="albumTracksDTOptions"
			class="datatable-cto-bar clearfix form-inline" style="display: none">
			<button id="_parseTagsBtn" class="btn apollo-btn wrap"
				data-ng-click="showParseTags(true)">Parse Tags</button>
			<button id="_editAlbumTagBtn" class="btn apollo-btn wrap"
				data-ng-click="showEditAlbumTag()">Edit Album Tag</button>
			<button id="_editAlbumTagBtn" class="btn apollo-btn wrap"
				data-ng-click="showEditTrackTag()">Edit Song Tags</button>
		</div>

		<!-- data table -->
		<table id="albumTracksDT" style="width: 100%;"
			class="table-bordered table-hover table-condensed apollo-table ">
		</table>

		<!-- data table controls -->
		<div id="albumTracksDTActions"
			class="col-xs-12 col-sm-12 col-md-12 col-lg-12 datatable-cta-bar text-right"
			style="display: none">
			<button id="_addToLibraryBtn" class="btn apollo-btn wrap"
				data-ng-click="addToLibrary()" data-ng-show="!addedToLibrary">Add
				to Library</button>
			<button id="_addToPlaylistBtn" class="btn apollo-btn wrap"
				data-ng-click="addToPlaylist()">Add to Playlist</button>
		</div>
	</div>
</div>

<div id="_tmpPanel" class="panel panel-primary"
	data-ng-show="tagsParsed">
	<div class="panel-heading">Tag Parse Result</div>
	<div class="panel-body">
		<h4>Common Tag</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Tag</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Album</td>
					<td>{{parsedCommonTag.album || '-'}}</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>{{parsedCommonTag.year || '-'}}</td>
				</tr>
				<tr>
					<td>Album Artist</td>
					<td>{{parsedCommonTag.albumArtist || '-'}}</td>
				</tr>
			</tbody>
		</table>

		<h4>Track Tags</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Artist</th>
					<th>Track Nbr</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tmpTag in parsedTags">
					<td>{{tmpTag.title || '-'}}</td>
					<td>{{tmpTag.artist || '-'}}</td>
					<td>{{tmpTag.trackNbr || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer text-right">
		<button id="_reparseTagsBtn" class="btn apollo-btn"
			data-ng-click="showParseTags(false)">Re Parse</button>
		<button id="_discardParsedTagsBtn" class="btn apollo-btn"
			data-ng-click="tagsParsed = false">Discard Tags</button>
		<button id="_saveParsedTagsBtn" class="btn apollo-btn"
			data-ng-click="saveParsedTags()">Save Tags</button>
	</div>
</div>

<!-- Model for editing tags for selected track(s) -->
<form id="_editTrackTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editTrackTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editTrackTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editTrackTagLabel" class="modal-title">
						Edit Track Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Title:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_title"
											data-ng-model="tmpTrackTag.title"
											data-ng-change="captureTrackTagUpdate('title')"
											placeholder="Title" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_artist"
											data-ng-model="tmpTrackTag.artist"
											data-ng-change="captureTrackTagUpdate('artist')"
											placeholder="Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Composer:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_composer"
											data-ng-model="tmpTrackTag.composer"
											data-ng-change="captureTrackTagUpdate('composer')"
											placeholder="Composer" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Track
										Nbr:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_trackNbr"
											data-ng-model="tmpTrackTag.trackNbr"
											data-ng-change="captureTrackTagUpdate('trackNbr')"
											placeholder="Track Nbr" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Lyrics:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_lyrics"
											data-ng-model="tmpTrackTag.lyrics"
											data-ng-change="captureTrackTagUpdate('lyrics')"
											placeholder="Lyrics" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Tags:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_tags"
											data-ng-model="tmpTrackTag.tags"
											data-ng-change="captureTrackTagUpdate('tags')"
											placeholder="Tags" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn apollo-btn" data-dismiss="modal"
						data-ng-click="saveTrackTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>


<!-- Model for editing tags for selected album -->
<form id="_editAlbumTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editAlbumTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editAlbumTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editAlbumTagLabel" class="modal-title">
						Edit Album Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="apollo-msg" style="display: none;">
							<span class="_modalAlertIcon glyphicon">&nbsp;</span> <span
								class="_modalAlertMsg" />
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_album"
											data-ng-model="tmpAlbumTag.album"
											data-ng-change="captureAlbumTagUpdate('album')"
											placeholder="Album" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album
										Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_albumArtist"
											data-ng-model="tmpAlbumTag.albumArtist"
											data-ng-change="captureAlbumTagUpdate('albumArtist')"
											placeholder="Album Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Year:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_year"
											data-ng-model="tmpAlbumTag.year"
											data-ng-change="captureAlbumTagUpdate('year')"
											placeholder="Year" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Language:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_language"
											data-ng-model="tmpAlbumTag.language"
											data-ng-change="captureAlbumTagUpdate('language')"
											placeholder="Language" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Genre:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_genre"
											data-ng-model="tmpAlbumTag.genre"
											data-ng-change="captureAlbumTagUpdate('genre')"
											placeholder="Genre" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Mood:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_mood"
											data-ng-model="tmpAlbumTag.mood"
											data-ng-change="captureAlbumTagUpdate('mood')"
											placeholder="Mood" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artwork:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<img id="_artworkPreview" class="artworkImage"
											data-ng-show="tmpAlbumTag.artwork.length > 0"
											data-ng-src="{{tmpAlbumTag.artwork}}" />
										<button id="_addEditArtworkBtn" class="btn apollo-btn"
											data-ng-click="chooseArtwork()">{{tmpAlbumTag.artwork
											!= null ? 'Edit' : 'Add'}}</button>
										<button id="_deleteArtworkBtn" class="btn apollo-btn"
											data-ng-show="tmpAlbumTag.artwork.length > 0"
											data-ng-click="deleteArtwork()">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn apollo-btn" data-dismiss="modal"
						data-ng-click="saveAlbumTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
