<div class="text-center" data-ng-show="!songSelected">
	<br /> <em>Select an Song first</em> <br />
</div>

<div id="_mainPanel" class="panel panel-primary"
	data-ng-show="songSelected">
	<div class="panel-body" data-ng-show="!tagsParsed">
		<div class="container-fluid form-horizontal">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Language:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_language"
								data-ng-model="tmpTag.language"
								data-ng-change="captureTagUpdate('language')"
								placeholder="Language" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Genre:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_genre"
								data-ng-model="tmpTag.genre"
								data-ng-change="captureTagUpdate('genre')" placeholder="Genre" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-sm" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Mood:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_mood"
								data-ng-model="tmpTag.mood"
								data-ng-change="captureTagUpdate('mood')" placeholder="Mood" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-md visible-lg" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_album"
								data-ng-model="tmpTag.album"
								data-ng-change="captureTagUpdate('album')" placeholder="Album" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-sm" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album
							Artist:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_albumArtist"
								data-ng-model="tmpTag.albumArtist"
								data-ng-change="captureTagUpdate('albumArtist')"
								placeholder="Album Artist" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Year:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_year"
								data-ng-model="tmpTag.year"
								data-ng-change="captureTagUpdate('year')" placeholder="Year" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-sm visible-md visible-lg" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Composer:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_composer"
								data-ng-model="tmpTag.composer"
								data-ng-change="captureTagUpdate('composer')"
								placeholder="Composer" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artist:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_artist"
								data-ng-model="tmpTag.artist"
								data-ng-change="captureTagUpdate('artist')" placeholder="Artist" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-sm" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Title:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_title"
								data-ng-model="tmpTag.title"
								data-ng-change="captureTagUpdate('title')" placeholder="Title" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-md visible-lg" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Track
							Nbr:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_trackNbr"
								data-ng-model="tmpTag.trackNbr"
								data-ng-change="captureTagUpdate('trackNbr')"
								placeholder="Track Nbr" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-sm" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Lyrics:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_lyrics"
								data-ng-model="tmpTag.lyrics"
								data-ng-change="captureTagUpdate('lyrics')" placeholder="Lyrics" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Tags:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<input type="text" class="form-control" id="_tags"
								data-ng-model="tmpTag.tags"
								data-ng-change="captureTagUpdate('tags')" placeholder="Tags" />
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs visible-sm visible-md visible-lg" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artwork:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<img id="_artworkPreview" class="artworkImage"
								data-ng-show="tmpTag.artwork.length > 0"
								data-ng-src="{{tmpTag.artwork}}" />
							<button id="_addEditArtworkBtn" class="btn apollo-btn"
								data-ng-click="chooseArtwork()">{{tmpTag.artwork !=
								null ? 'Edit' : 'Add'}}</button>
							<button id="_deleteArtworkBtn" class="btn apollo-btn"
								data-ng-show="tmpTag.artwork.length > 0"
								data-ng-click="deleteArtwork()">Delete</button>
						</div>
					</div>
				</div>
				<div class="clearfix visible-xs" />

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">File
							Name:</label>
						<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
							<p class="form-control-static">{{tmpTag.fileName}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
					<button id="_parseTagsBtn" class="btn apollo-btn wrap"
						data-ng-click="showParseTags(true)">Parse Tags</button>
					<button class="btn apollo-btn wrap" data-dismiss="modal"
						data-ng-click="saveTag()">Save</button>
					<button id="_addToLibraryBtn" class="btn apollo-btn wrap"
						data-ng-click="addToLibrary()" data-ng-show="!addedToLibrary">Add
						to Library</button>
					<button id="_addToPlaylistBtn" class="btn apollo-btn wrap"
						data-ng-click="addToPlaylist()" data-ng-show="addedToLibrary">Add
						to Playlist</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="_tmpPanel" class="panel panel-primary"
	data-ng-show="tagsParsed">
	<div class="panel-heading">Tag Parse Result</div>
	<div class="panel-body">
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Tag</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Album</td>
					<td>{{parsedTag.album || '-'}}</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>{{parsedTag.year || '-'}}</td>
				</tr>
				<tr>
					<td>Album Artist</td>
					<td>{{parsedTag.albumArtist || '-'}}</td>
				</tr>
				<tr>
					<td>Artist</td>
					<td>{{parsedTag.artist || '-'}}</td>
				</tr>
				<tr>
					<td>Title</td>
					<td>{{parsedTag.title || '-'}}</td>
				</tr>
				<tr>
					<td>Track Nbr</td>
					<td>{{parsedTag.trackNbr || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer text-right">
		<button id="_reparseTagsBtn" class="btn apollo-btn"
			data-ng-click="showParseTags(false)">Re Parse</button>
		<button id="_discardParsedTagsBtn" class="btn apollo-btn"
			data-ng-click="tagsParsed = false">Discard Tags</button>
		<button id="_saveParsedTagsBtn" class="btn apollo-btn"
			data-ng-click="saveParsedTags()">Save Tags</button>
	</div>
</div>

