<div class="text-center" data-ng-show="!albumSelected">
	<br /> <em>Select an Album first</em> <br />
</div>

<div id="_mainPanel" class="panel panel-primary"
	data-ng-show="albumSelected">
	<div class="panel-body" data-ng-show="!tagsParsed">
		<!-- data table options -->
		<div id="albumTracksDTOptions"
			class="datatable-cto-bar clearfix form-inline" style="display: none">
			<button id="_parseTagsBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showParseTags(true)">Parse Tags</button>
			<button id="_editAlbumTagBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showEditAlbumTag()">Edit Album Tag</button>
			<button id="_editAlbumTagBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showEditAlbumTag()">Edit Track Tag</button>
			<button id="_saveTagsBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="renameToTitle()">Rename to Title</button>
		</div>

		<!-- data table -->
		<table id="albumTracksDT" style="width: 100%;"
			class="table stripe hover display compact table-striped table-hover table-condensed apollo-table ">
		</table>

		<!-- data table controls -->
		<div id="albumTracksDTActions"
			class="col-xs-12 col-sm-12 col-md-12 col-lg-12 datatable-cta-bar text-right"
			style="display: none">
			<button id="_addToLibraryBtn" class="btn btn-warning btn-responsive"
				data-ng-click="addToLibrary()">Add to Library</button>
		</div>
	</div>
</div>

<div id="_tmpPanel" class="panel panel-primary"
	data-ng-show="tagsParsed">
	<div class="panel-heading">Tag Parse Result</div>
	<div class="panel-body">
		<h4>Common Tag</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Tag</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Album</td>
					<td>{{parsedCommonTag.album || '-'}}</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>{{parsedCommonTag.year || '-'}}</td>
				</tr>
				<tr>
					<td>Album Artist</td>
					<td>{{parsedCommonTag.albumArtist || '-'}}</td>
				</tr>
			</tbody>
		</table>

		<h4>Track Tags</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Artist</th>
					<th>Track Nbr</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tmpTag in parsedTags">
					<td>{{tmpTag.title || '-'}}</td>
					<td>{{tmpTag.artist || '-'}}</td>
					<td>{{tmpTag.trackNbr || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer text-right">
		<button id="_discardParsedTagsBtn"
			class="btn btn-warning btn-responsive"
			data-ng-click="discardParsedTags()">Discard Tags</button>
		<button id="_discardParsedTagsBtn"
			class="btn btn-warning btn-responsive" data-ng-click="reparseTags()">Re
			Parse</button>
		<button id="_saveParsedTagsBtn" class="btn btn-warning btn-responsive"
			data-ng-click="saveParsedTags()">Save Tags</button>
	</div>
</div>

<!-- Include modal for file system operations -->
<object th:remove="tag" th:include="templates :: file-system-modal" />

<!-- Model for editing tags for selected track(s) -->
<form id="_editTrackTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editTrackTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editTrackTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editTrackTagLabel" class="modal-title">
						Edit Track Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Title:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_title"
											data-ng-model="tmpTrackTag.title"
											data-ng-change="captureTrackTagUpdate('title')"
											placeholder="Title" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_artist"
											data-ng-model="tmpTrackTag.artist"
											data-ng-change="captureTrackTagUpdate('artist')"
											placeholder="Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Composer:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_composer"
											data-ng-model="tmpTrackTag.composer"
											data-ng-change="captureTrackTagUpdate('composer')"
											placeholder="Composer" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Track
										Nbr:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_trackNbr"
											data-ng-model="tmpTrackTag.trackNbr"
											data-ng-change="captureTrackTagUpdate('trackNbr')"
											placeholder="Track Nbr" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Lyrics:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_lyrics"
											data-ng-model="tmpTrackTag.lyrics"
											data-ng-change="captureTrackTagUpdate('lyrics')"
											placeholder="Lyrics" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Tags:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_tags"
											data-ng-model="tmpTrackTag.tags"
											data-ng-change="captureTrackTagUpdate('tags')"
											placeholder="Tags" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning btn-responsive" data-dismiss="modal"
						data-ng-click="saveTrackTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>


<!-- Model for editing tags for selected album -->
<form id="_editAlbumTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editAlbumTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editAlbumTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editAlbumTagLabel" class="modal-title">
						Edit Album Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="apollo-msg" style="display: none;">
							<span class="_modalAlertIcon glyphicon">&nbsp;</span> <span
								class="_modalAlertMsg" />
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_album"
											data-ng-model="tmpAlbumTag.album"
											data-ng-change="captureAlbumTagUpdate('album')"
											placeholder="Album" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album
										Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_albumArtist"
											data-ng-model="tmpAlbumTag.albumArtist"
											data-ng-change="captureAlbumTagUpdate('albumArtist')"
											placeholder="Album Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Year:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_year"
											data-ng-model="tmpAlbumTag.year"
											data-ng-change="captureAlbumTagUpdate('year')"
											placeholder="Year" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Language:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_language"
											data-ng-model="tmpAlbumTag.language"
											data-ng-change="captureAlbumTagUpdate('language')"
											placeholder="Language" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Genre:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_genre"
											data-ng-model="tmpAlbumTag.genre"
											data-ng-change="captureAlbumTagUpdate('genre')"
											placeholder="Genre" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Mood:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_mood"
											data-ng-model="tmpAlbumTag.mood"
											data-ng-change="captureAlbumTagUpdate('mood')"
											placeholder="Mood" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artwork:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<img id="_artworkPreview" class="artworkImage"
											data-ng-show="tmpAlbumTag.artwork.length > 0"
											data-ng-src="{{tmpAlbumTag.artwork}}" />
										<button id="_addEditArtworkBtn"
											class="btn btn-warning btn-responsive"
											data-ng-click="chooseArtwork()">{{tmpAlbumTag.artwork
											!= null ? 'Edit' : 'Add'}}</button>
										<button id="_deleteArtworkBtn"
											class="btn btn-warning btn-responsive"
											data-ng-show="tmpAlbumTag.artwork.length > 0"
											data-ng-click="deleteArtwork()">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning btn-responsive" data-dismiss="modal"
						data-ng-click="saveAlbumTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>

<form id="_artworkFileForm" name="artworkFileForm" action="#"
	method="post">
	<input id="_artworkFile" type="file" class="hidden" accept="image/*" />
</form>

<!-- page styles -->
<style type="text/css">
#_standardTokens a.label {
	display: block;
	margin-top: 5px;
	padding: 5px;
}

#_tokenContainer span.label {
	margin: 5px 0px 5px 5px;
	padding: 8px;
	float: left;
}

#_tokenContainer span.label span.glyphicon {
	margin-left: 5px;
	float: right;
}

#_tokenContainer span.label span.glyphicon:hover {
	cursor: pointer;
}

.artworkImage {
	height: 80px;
	width: 120px;
	margin-bottom: 10px;
	display: block;
}

@media ( min-width : 992px) {
	.artworkImage {
		margin-top: 10px;
	}
}
</style>
<div id="_parseTagExprModal" class="modal fade apollo-modal"
	tabindex="-1" aria-labelledby="_parseTagExprLabel" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="_parseTagExprLabel" class="modal-title">
					Tag Expression<span class="glyphicon glyphicon-remove"
						style="float: right; cursor: pointer;" data-dismiss="modal"
						aria-hidden="true"></span>
				</h4>
			</div>
			<div id="_parseTagExprModalBody" class="modal-body form-horizontal">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
							<div class="panel panel-primary apollo-panel">
								<div id="_droppableContainer" class="panel-body">
									<div id="_tokenContainer" />
								</div>
							</div>

							<!-- Custom Token Section -->
							<form>
								<div class="form-horizontal">
									<div class="form-group">
										<div class="radio col-xs-1 col-sm-1 col-md-1 col-lg-1">
											<label><input id="_customParseTokenOptionSelect"
												type="radio" name="customParseTokenOption" value="select"
												checked="checked" /></label>
										</div>
										<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
											<p id="_customParseTokenSelect" class="form-control-static">{{sampleFileName}}</p>
										</div>
									</div>
									<div class="form-group">
										<div class="radio col-xs-1 col-sm-1 col-md-1 col-lg-1">
											<label><input id="_customParseTokenOptionInput"
												type="radio" name="customParseTokenOption" value="input" /></label>
										</div>
										<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
											<input type="text" class="form-control"
												id="_customParseTokenInput" placeholder="Custom Token" />
										</div>
									</div>
									<div class="form-group text-center">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<button class="btn btn-warning btn-responsive"
												data-ng-click="addParseTagToken()">Add</button>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
							<!-- Standard Tokens Panel -->
							<div class="panel panel-primary apollo-panel">
								<div class="panel-heading">Standard Tokens</div>
								<div class="panel-body">
									<div id="_standardTokens">
										<!-- class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" -->
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<!-- <a id="_token-language" class="label label-default"
												data-token="language">Language</a> <a id="_token-genre"
												class="label label-default" data-token="genre">Genre</a> <a
												id="_token-mood" class="label label-default"
												data-token="mood">Mood</a> -->
											<a id="_token-album" class="label label-default"
												data-token="album">Album</a> <a id="_token-year"
												class="label label-default" data-token="year">Year</a> <a
												id="_token-albumArtist" class="label label-default"
												data-token="albumArtist">Album Artist</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<a id="_token-title" class="label label-default"
												data-token="title">Title</a> <a id="_token-artist"
												class="label label-default" data-token="artist">Artist</a>
											<!-- <a
												id="_token-composer" class="label label-default"
												data-token="composer">Composer</a> -->
											<a id="_token-trackNbr" class="label label-default"
												data-token="trackNbr">Track Nbr</a>
											<!--  <a id="_token-tags" class="label label-default"
												data-token="tags">Tags</a> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning btn-responsive"
					data-ng-click="resetParseTagTokens()">Reset</button>
				<button class="btn btn-warning btn-responsive"
					data-ng-click="parseTags()">Parse</button>
			</div>
		</div>
	</div>
</div>