<div id="_mainPanel" class="panel panel-primary">
	<div class="panel-body" data-ng-show="!tagsParsed">
		<!-- data table options -->
		<div id="albumTracksDTOptions"
			class="datatable-cto-bar clearfix form-inline" style="display: none">
			<button id="_parseTagsBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showParseTags(true)" data-ng-show="albumSelected">Parse
				Tags</button>
			<button id="_editAlbumTagBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showEditAlbumTag()" data-ng-show="albumSelected">Edit
				Album Tag</button>
			<button id="_editAlbumTagBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="showEditAlbumTag()" data-ng-show="albumSelected">Edit
				Track Tag</button>
			<button id="_saveTagsBtn"
				class="btn btn-warning btn-responsive btn-wrap"
				data-ng-click="renameToTitle()" data-ng-show="albumSelected">Rename
				to Title</button>
		</div>

		<!-- data table -->
		<table id="albumTracksDT" style="width: 100%;"
			class="table stripe hover display compact table-striped table-hover table-condensed apollo-table ">
		</table>

		<!-- data table controls -->
		<div id="albumTracksDTActions"
			class="col-xs-12 col-sm-12 col-md-12 col-lg-12 datatable-cta-bar text-right"
			style="display: none">
			<button id="_addToLibraryBtn" class="btn btn-warning btn-responsive"
				data-ng-click="addToLibrary()" data-ng-show="albumSelected">Add
				to Library</button>
		</div>
	</div>
</div>

<div id="_tmpPanel" class="panel panel-primary"
	data-ng-show="tagsParsed">
	<div class="panel-heading">Tag Parse Result</div>
	<div class="panel-body">
		<h4>Common Tag</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Tag</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Album</td>
					<td>{{parsedCommonTag.album || '-'}}</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>{{parsedCommonTag.year || '-'}}</td>
				</tr>
				<tr>
					<td>Album Artist</td>
					<td>{{parsedCommonTag.albumArtist || '-'}}</td>
				</tr>
			</tbody>
		</table>

		<h4>Track Tags</h4>
		<table class="table stripe hover display compact apollo-table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Artist</th>
					<th>Track Nbr</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tmpTag in parsedTags">
					<td>{{tmpTag.title || '-'}}</td>
					<td>{{tmpTag.artist || '-'}}</td>
					<td>{{tmpTag.trackNbr || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer text-right">
		<button id="_discardParsedTagsBtn"
			class="btn btn-warning btn-responsive"
			data-ng-click="discardParsedTags()">Discard Tags</button>
		<button id="_discardParsedTagsBtn"
			class="btn btn-warning btn-responsive" data-ng-click="reparseTags()">Re
			Parse</button>
		<button id="_saveParsedTagsBtn" class="btn btn-warning btn-responsive"
			data-ng-click="saveParsedTags()">Save Tags</button>
	</div>
</div>

<!-- Include modal for file system operations -->
<object th:remove="tag" th:include="templates :: file-system-modal" />

<!-- Model for editing tags for selected track(s) -->
<form id="_editTrackTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editTrackTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editTrackTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editTrackTagLabel" class="modal-title">
						Edit Track Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Title:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_title"
											data-ng-model="trackTag.title" placeholder="Title" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_artist"
											data-ng-model="trackTag.artist" placeholder="Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Composer:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_composer"
											data-ng-model="trackTag.composer" placeholder="Composer" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Track
										Nbr:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_trackNbr"
											data-ng-model="trackTag.trackNbr" placeholder="Track Nbr" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Lyrics:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_lyrics"
											data-ng-model="trackTag.lyrics" placeholder="Lyrics" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Tags:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_tags"
											data-ng-model="trackTag.tags" placeholder="Tags" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning btn-responsive" data-dismiss="modal"
						data-ng-click="saveTrackTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>


<!-- Model for editing tags for selected album -->
<form id="_editAlbumTagForm" name="editTagForm" class="form-horizontal">
	<div id="_editAlbumTagModal" class="modal fade apollo-modal"
		tabindex="-1" aria-labelledby="_editAlbumTagLabel" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="_editAlbumTagLabel" class="modal-title">
						Edit Album Tag<span class="glyphicon glyphicon-remove"
							style="float: right; cursor: pointer;" data-dismiss="modal"
							aria-hidden="true"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="apollo-msg" style="display: none;">
							<span class="_modalAlertIcon glyphicon">&nbsp;</span> <span
								class="_modalAlertMsg" />
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_album"
											data-ng-model="albumTag.album" placeholder="Album" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Album
										Artist:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_albumArtist"
											data-ng-model="albumTag.albumArtist"
											placeholder="Album Artist" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Year:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_year"
											data-ng-model="albumTag.year" placeholder="Year" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Language:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_language"
											data-ng-model="albumTag.language" placeholder="Language" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Genre:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_genre"
											data-ng-model="albumTag.genre" placeholder="Genre" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Mood:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<input type="text" class="form-control" id="_mood"
											data-ng-model="albumTag.mood" placeholder="Mood" />
									</div>
								</div>
							</div>
							<div class="clearfix visible-xs visible-sm visible-md visible-lg" />

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="form-group">
									<label
										class="col-xs-4 col-sm-5 col-md-4 col-lg-4 control-label">Artwork:</label>
									<div class="col-xs-8 col-sm-7 col-md-8 col-lg-8">
										<img id="_artworkPreview"
											style="height: 80px; width: 80px; margin-bottom: 10px; display: block;"
											data-ng-show="albumTag.artwork.base64Data.length > 0"
											data-ng-src="{{albumTag.artwork.base64Data}}" />
										<button id="_addEditArtworkBtn"
											class="btn btn-warning btn-responsive"
											data-ng-click="chooseArtwork()">{{albumTag.artwork.base64Data
											!= null ? 'Edit' : 'Add'}}</button>
										<button id="_deleteArtworkBtn"
											class="btn btn-warning btn-responsive"
											data-ng-show="albumTag.artwork.base64Data.length > 0"
											data-ng-click="deleteArtwork()">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning btn-responsive" data-dismiss="modal"
						data-ng-click="saveAlbumTag()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>

<form id="_artworkFileForm" name="artworkFileForm" action="#"
	method="post">
	<input id="_artworkFile" type="file" class="hidden" accept="image/*" />
</form>

<style type="text/css">
#_standardTokens li:hover {
	cursor: pointer;
}

#_tokenContainer span {
	margin: 5px 0px 5px 5px;
	float: left;
}

#_tokenContainer li {
	margin: 5px 0px 0px 5px;
}
</style>
<div id="_parseTagExprModal" class="modal fade apollo-modal"
	tabindex="-1" aria-labelledby="_parseTagExprLabel" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="_parseTagExprLabel" class="modal-title">
					Tag Expression<span class="glyphicon glyphicon-remove"
						style="float: right; cursor: pointer;" data-dismiss="modal"
						aria-hidden="true"></span>
				</h4>
			</div>
			<div id="_parseTagExprModalBody" class="modal-body form-horizontal">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group">
								<label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label">File
									Name:</label>
								<div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
									<p class="form-control-static">{{sampleFileName}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
							<div class="panel panel-primary apollo-panel">
								<div id="_droppableContainer" class="panel-body">
									<div id="_tokenContainer" />
								</div>
							</div>

							<!-- Custom Token Section -->
							<div>
								<form>
									<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 pad-left-0">
										<input type="text" class="form-control" id="_customParseToken"
											placeholder="Custom Token" />
									</div>
									<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 pad-left-10">
										<button class="btn btn-warning btn-responsive"
											data-ng-click="addParseTagToken()">Add</button>
									</div>
								</form>
							</div>
						</div>

						<div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
							<!-- Standard Tokens Panel -->
							<div class="panel panel-default apollo-panel">
								<div class="panel-heading">Standard Tokens</div>
								<div class="panel-body">
									<ul id="_standardTokens" style="margin-left: -10px">
										<li id="_token-language" data-token="language">Language</li>
										<li id="_token-genre" data-token="genre">Genre</li>
										<li id="_token-mood" data-token="mood">Mood</li>
										<li id="_token-album" data-token="album">Album</li>
										<li id="_token-mood" data-token="mood">Year</li>
										<li id="_token-composer" data-token="composer">Composer</li>
										<li id="_token-albumArtist" data-token="albumArtist">Album
											Artist</li>
										<li id="_token-artist" data-token="artist">Artist</li>
										<li id="_token-trackNbr" data-token="trackNbr">Track Nbr</li>
										<li id="_token-title" data-token="title">Title</li>
										<li id="_token-tags" data-token="tags">Tags</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning btn-responsive"
					data-ng-click="resetParseTagTokens()">Reset</button>
				<button class="btn btn-warning btn-responsive" data-dismiss="modal"
					data-ng-click="parseTags()">Parse</button>
			</div>
		</div>
	</div>
</div>