<footer>
	<nav class="navbar site-footer-nav">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<a class="awf-footer-link" target="_new"
						href="http://wagwiki.walgreens.com/confluence/display/WMGT/Web+Application+Enablement+%28WAS+8.5+Migration%29"><strong>Wiki</strong></a>&nbsp;|&nbsp;
					<a class="awf-footer-link" target="_new"
						href="https://walgreens.sharepoint.com/teams/IS2/FAS/WASM/Shared%20Documents/WAS85Migration"><strong>Sharepoint</strong></a>&nbsp;|&nbsp;
					<a class="awf-footer-link" target="_new"
						href="https://oneit.wba.com/jira/secure/Dashboard.jspa"><strong>JIRA</strong></a>&nbsp;|&nbsp;
					<a class="awf-footer-link" href="" data-toggle="modal"
						data-target="#helpMsg"><strong>Help</strong></a>
				</div>
			</div>
		</div>
	</nav>
</footer>