html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
	-ms-overflow-style: scrollbar;
	height: 100%;
	min-height: 100%;
}

header.apollo-header nav.navbar.navbar-default.apollo-header-nav {
	background: none;
}

header.apollo-header img.apollo-brand {
	height: 36px;
	margin-top: -6px
}

li.apollo-header-nav-item.open a.dropdown-toggle, li.apollo-header-nav-item.open a.dropdown-toggle:focus,
	li.apollo-header-nav-item.open a.dropdown-toggle:hover {
	background: #96c346;
}

li.apollo-header-nav-item ul.dropdown-menu li a:hover {
	background: none;
}

@media ( min-width : 768px) {
	li.apollo-header-nav-item {
		border-top: solid 4px #fff;
	}
	li.apollo-header-nav-item:hover {
		border-top: solid 4px #96c346;
	}
	li.apollo-header-nav-item.open a.dropdown-toggle {
		background: none !important;
		box-shadow: none !important;
	}
	li.apollo-header-nav-item ul.dropdown-menu {
		padding: 0px 0px 0px 0px;
	}
	li.apollo-header-nav-item.open ul.dropdown-menu {
		display: none;
	}
	li.apollo-header-nav-item:hover ul.dropdown-menu {
		display: block;
	}
	li.apollo-header-nav-item ul.dropdown-menu li.dropdown-menu-item {
		padding: 5px 10px 5px 0px;
		border-left: 6px solid #fff;
	}
	li.apollo-header-nav-item ul.dropdown-menu li.divider {
		padding: 0px;
		margin: 2px 0px 2px 0px;
	}
	li.apollo-header-nav-item ul.dropdown-menu li.dropdown-menu-item:hover {
		border-left: 6px solid #96c346;
		background-color: #f2f2f2;
	}
}

/* layout styles:start */
header.apollo-header {
	position: relative;
	padding-top: 5px;
	border-radius: 0px;
	margin-bottom: 0px;
}

section.apollo-content {
	position: relative;
}

footer.apollo-footer {
	position: relative;
	margin-top: 10px;
	border-top: solid 1px #ccc;
	border-radius: 0px;
	padding-top: 5px;
}
/* content:end */

/* layout styles:end */

/* header components styles:start */
nav.apollo-header-nav {
	margin-bottom: 5px;
}

h1.apollo-brand {
	margin-top: 5px;
	color: gray;
	font-weight: bold;
}
/* header components styles:end */

/* menu styles:start */
ul.apollo-menu {
	right: 0px;
	list-style-type: none;
	margin: 5px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	float: right;
}

li.apollo-menu-item {
	right: 0px;
	float: right;
	border-top: solid 4px #fff;
	margin-right: 3px;
	display: inline-block;
}

li.apollo-menu-item:hover {
	border-top: solid 4px #96c346;
}

a.apollo-menu-item-label {
	color: #333;
	display: inline-block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

div.apollo-submenu {
	position: absolute;
	left: 10px;
	min-width: 150px;
	background-color: #f9f9f9;
	border: #ddd solid thin;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	z-index: 1000;
	display: none;
}

li.apollo-menu-item:hover div.apollo-submenu {
	display: block;
}

a.apollo-submenu-item {
	color: black;
	text-decoration: none;
	display: block;
	background: white;
	white-space: nowrap;
	padding: 10px;
	border-left: 6px solid #fff;
}

a.apollo-submenu-item:hover {
	border-left: 6px solid #96c346;
	background: #ddd;
}
/* menu styles:end */

/* breadcrumbs:start */
section.apollo-breadcrumbs {
	
}

ol.breadcrumb {
	margin-bottom: 0px;
	text-align: right;
	font-weight: bold;
	background: none !important;
}
/* breadcrumbs:end */

/* footer components:start */
nav.apollo-footer-nav {
	margin-bottom: 5px;
}

ul.apollo-footer-links li a {
	padding: 10px;
}

ul.apollo-footer-links li a:hover, ul.apollo-footer-links li a:focus {
	background: none !important;
}
/* footer components:end */