html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
	-ms-overflow-style: scrollbar;
}

/* header section styles:start */
header.apollo-header {
	background: none;
	padding-top: 5px;
	margin-bottom: 0px;
	border-bottom: solid 1px #ccc;
	border-radius: 0px;
}

header.apollo-header nav.apollo-navbar {
	margin-bottom: 5px;
}

img.apollo-brand {
	height: 40px;
	width: 40px;
	float: left;
	border-right: solid 4px #96c346;
	margin-right: 10px;
}

h1.apollo-brand {
	margin-top: 5px;
	color: gray;
	font-weight: bold;
}

ul.apollo-menu {
	right: 0px;
	list-style-type: none;
	margin: 5px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	float: right;
}

li.apollo-menu-item {
	right: 0px;
	float: right;
	border-top: solid 4px #fff;
	margin-right: 3px;
	display: inline-block;
}

li.apollo-menu-item:hover {
	border-top: solid 4px #96c346;
}

a.apollo-menu-item-label {
	color: #333;
	display: inline-block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

div.apollo-submenu {
	position: absolute;
	left: 10px;
	min-width: 150px;
	background-color: #f9f9f9;
	border: #ddd solid thin;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	z-index: 1000;
	display: none;
}

li.apollo-menu-item:hover div.apollo-submenu {
	display: block;
}

a.apollo-submenu-item {
	color: black;
	text-decoration: none;
	display: block;
	background: white;
	white-space: nowrap;
	padding: 10px;
	border-left: 6px solid #fff;
}

a.apollo-submenu-item:hover {
	border-left: 6px solid #96c346;
	background: #ddd;
}
/* header section styles:end */

/* breadcrumbs:start */
section.apollo-breadcrumbs {
	
}

ol.breadcrumb {
	margin-bottom: 0px;
	text-align: right;
	font-weight: bold;
	background: none !important;
}
/* breadcrumbs:end */

/* content:start */
section.apollo-content {
	
}
/* content:end */

/* footer section start */
ul.lse-footer-links>li>a:hover, ul.lse-footer-links>li>a:focus {
	background: none !important;
}
/* footer section styles:end */