html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
	-ms-overflow-style: scrollbar;
	height: 100%;
	min-height: 100%;
}

/* layout styles:start */
header.apollo-header {
	position: relative;
	padding-top: 5px;
	border-radius: 0px;
	margin-bottom: 0px;
}

section.apollo-content {
	position: relative;
}

footer.apollo-footer {
	position: relative;
	margin-top: 10px;
	border-top: solid 1px #ccc;
	border-radius: 0px;
	padding-top: 5px;
}
/* layout styles:end */

/* header components styles:start */
header.apollo-header img.apollo-brand {
	height: 36px;
	margin-top: -6px
}

h1.apollo-brand {
	margin-top: 5px;
	color: gray;
	font-weight: bold;
}
/* header components styles:end */

/* page style:start */
h2.apollo-page-header {
	padding: 10px;
	margin: 0px 0px 5px 0px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
	background-image: linear-gradient(to bottom, #96c346 0%, #96c146 100%);
	color: #fff;
}
/* page style:end */

/* footer components:start */
nav#apolloFooterNavbar {
	margin-bottom: 5px;
}

nav#apolloFooterNavbar a.apollo-footer-link {
	font-size: 12px;
}

nav#apolloFooterNavbar a.apollo-footer-link:focus {
	text-decoration: none;
	color: #337ab7;
}
/* footer components:end */

/* modal styles:start */
div.modal.apollo-modal div.modal-header, div.modal.apollo-modal div.modal-body
	{
	padding: 5px;
}

div.modal.apollo-modal div.modal-header h4.modal-title {
	background-color: #96c346;
	padding: 5px;
}

div.modal.apollo-modal div.modal-header button {
	margin: 5px 8px 0px 0px;
}
/* modal styles:end */

/* panel styles:start */
div.panel.apollo-panel div.panel-heading, div.panel.apollo-panel div.panel-body
	{
	padding: 5px;
}
/* panel styles:end */

/* form styles:start */
.form-control:focus {
	border-color: #96c346;
	outline: 0;
	box-shadow: inset 0 1px 1px #96c346, 0 0 8px #96c346;
}
/* form styles:end */

/* button styles:start */
@media ( max-width : 768px) {
	.btn-responsive {
		padding: 2px 4px;
		font-size: 80%;
		line-height: 1;
		border-radius: 3px;
	}
}

@media ( min-width : 769px) and (max-width: 992px) {
	.btn-responsive {
		padding: 4px 9px;
		font-size: 90%;
		line-height: 1.2;
	}
}
/* button styles:end */