div.table-responsive {
	border: none;
	margin: 0px;
}

div.dataTables_wrapper div.dataTables_filter {
	float: right;
	text-align: right;
}

div.dataTables_wrapper div.dataTables_info {
	clear: both;
	float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
	float: right;
}

div.datatable-cta-bar {
	margin-top: 10px;
}

table.dataTable.apollo-table {
	border-top: 2px solid #96c246;
	border-bottom: 2px solid #96c246;
}

table.dataTable.apollo-table tbody tr:hover {
	cursor: pointer;
}

div.dataTables_wrapper div.datatable-cto-bar {
	float: left;
}

@media ( max-width : 768px) {
	div.dataTables_wrapper div.dataTables_filter {
		float: none;
		text-align: center;
	}
	div.dataTables_wrapper div.datatable-cto-bar {
		margin-bottom: 10px;
		float: none;
		text-align: center;
	}
}