div.table-responsive {
	border: none;
	margin: 0px;
}

div.dataTables_wrapper div.dataTables_filter {
	float: right;
	text-align: right;
}

div.dataTables_wrapper div.dataTables_info {
	clear: both;
	float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
	float: right;
}

div.datatable-cta-bar {
	margin-top: 10px;
}

table.dataTable.apollo-table {
	border: 2px solid #96c246;
}

table.dataTable.apollo-table tbody tr:hover {
	cursor: pointer;
}

div.dataTables_wrapper div.datatable-cto-bar {
	float: left;
}

@media ( max-width : 768px) {
	div.dataTables_wrapper div.dataTables_filter {
		float: none;
		text-align: center;
	}
	div.dataTables_wrapper div.datatable-cto-bar {
		margin-bottom: 10px;
		float: none;
		text-align: center;
	}
}

/* hover rows */
.table-hover>tbody>tr:hover {
	background-color: #a2cc55 !important;
}

/* selected rows */
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
	font-style: italic;
	color: white;
	background-color: #5b74a8;
}

table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover,
	table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover
	{
	font-style: italic;
	color: white;
	background-color: #5b74a8;
}

/* pagination button */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #a2cc55;
	border-color: #a2cc55;
}