@media ( max-width : 767px) {
	.navbar-nav .nav-item+.nav-item {
		margin-left: 0;
	}
	#collapsenav {
		clear: both;
	}
}
/* menu styles: start */
nav#apolloHeaderNavbar {
	background: #fff;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

div#apolloHeaderNavbarCollapse {
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
}

ul#apolloHeaderNavbarNav {
	/*remove margins from menu container*/
	margin: 0px;
}

ul#apolloHeaderNavbarNav li.menu-li {
	/*set bottom border for collaped menu items*/
	border-bottom: 1px solid #ccc;
}

ul#apolloHeaderNavbarNav li.menu-li.menu-li-last {
	/*remove bottom border for last menu item*/
	border-bottom: none;
}

ul#apolloHeaderNavbarNav li.menu-li span.glyphicon-menu-down {
	/*hide expanded icon*/
	display: none !important;
}

ul#apolloHeaderNavbarNav li.menu-li.open span.glyphicon-menu-right {
	/*hide expandable icon on open*/
	display: none !important;
}

ul#apolloHeaderNavbarNav li.menu-li.open span.glyphicon-menu-down {
	/*show expanded icon on open*/
	display: block !important;
}

ul#apolloHeaderNavbarNav li.menu-li a.dropdown-toggle {
	/*remove menu link background for all states*/
	background: none !important;
}

ul#apolloHeaderNavbarNav li.menu-li.open a.dropdown-toggle {
	/*highlight expanded menu*/
	color: #777;
	background: none !important;
	border-left: 6px solid #96c346;
}

ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul {
	/*remove padding from submenu container*/
	padding: 0px 0px 0px 0px;
}

@media ( max-width : 768px) {
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.submenu-li a:before
		{
		content: ' - ';
	}
}

/*styles to apply when full menu is visible*/
@media ( min-width : 768px) {
	ul#apolloHeaderNavbarNav li.menu-li {
		/*set empty top border for menu headers*/
		border-top: solid 4px #fff;
		border-bottom: none;
	}
	ul#apolloHeaderNavbarNav li.menu-li:hover {
		/*set top border to green for pointed menu*/
		border-top: solid 4px #96c346;
	}
	ul#apolloHeaderNavbarNav li.menu-li.open span.glyphicon-menu-down {
		/*hide expanded icon on menu click*/
		display: none !important;
	}
	ul#apolloHeaderNavbarNav li.menu-li.open a.dropdown-toggle {
		/*remove highlight from selected menu*/
		background: none !important;
		box-shadow: none;
		border-left: none;
	}
	ul#apolloHeaderNavbarNav li.menu-li.open ul.dropdown-menu {
		/*prevent submenu from staying open on menu click*/
		display: none;
	}
	ul#apolloHeaderNavbarNav li.menu-li:hover ul.dropdown-menu {
		/*show submenu on menu hover*/
		display: block;
	}
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.submenu-li {
		/*style submenu items*/
		padding: 5px 10px 5px 0px;
		border-left: 6px solid #fff;
	}
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.divider {
		/*style submenu item divider*/
		padding: 0px;
		margin: 2px 0px 2px 0px;
	}
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.submenu-li:hover {
		/*set left border and hightlight on hover*/
		border-left: 6px solid #96c346;
		background-color: #f2f2f2;
	}
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.submenu-li a:focus
		{
		/*default to li background on hover*/
		background: none !important;
	}
	ul#apolloHeaderNavbarNav li.menu-li ul.submenu-ul li.submenu-li:hover a
		{
		/*default to li background on hover*/
		background: none !important;
	}
}