div.apollo-msg {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	font-weight: bold;
	color: #f1f1f1;
	border: 1px solid #f1f1f1;
	background-color: #777;
}

div.apollo-msg.msg-info {
	background-color: #74badb;
}

div.apollo-msg.msg-success {
	background-color: #a2cc55;
	color: #333333;
}

div.apollo-msg.msg-warn {
	background-color: #e9d37d;
	color: #333333;
}

div.apollo-msg.msg-error {
	background-color: #d9534f;
	color: #333333;
}