<div class="jumbotron alert alert-danger">
	<div data-ng-show="statusCode == 403">
		<h2>User Is Not Authorized</h2>
		<p>You do not have access to this functionality. If this is
			incorrect, please contact your Authenticator Account Administrator
			for further help.</p>
	</div>
	<div data-ng-show="statusCode == 404">
		<h2>Page Not Found</h2>
		<p>There page you are trying to access in not available. If this
			is incorrect, please contact the Administrator for further help.</p>
	</div>
	<div data-ng-show="statusCode == 'ALL'">
		<h2>Error Occurred</h2>
		<p>There was an error in processing your request. Please try again
			in a littele while or contact the Administrator for further help.</p>
	</div>
</div>