<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" data-ng-app="apollo" class="no-js"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<object th:remove="tag" th:include="templates :: head" />

<script th:inline="javascript">
	/*<![CDATA[*/
	var context_info = JSON.parse(/*[[${context_info}]]*/'{}');
	/*]]>*/
</script>
</head>

<body data-ng-controller="mainController" data-ng-cloak="true">
	<!--[if lt IE 11]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="apollo_wrapper" class="container-fluid">
		<header class="apollo-header">
			<nav id="apolloHeaderNavbar" class="navbar navbar-default">
				<div class="">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#apolloHeaderNavbarCollapse"
							aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand pad-top-5 pad-left-5" th:href="@{/home}">
							<i class="fa fa-music fa-2x" aria-hidden="true"></i>
							<h3 class="margin-left-10 margin-top-10 float-right">APOLLO</h3>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="apolloHeaderNavbarCollapse"
						class="collapse navbar-collapse">
						<ul id="apolloHeaderNavbarNav" class="nav navbar-nav navbar-right">
							<li class="menu-li"><a href=""><i
									class="fa fa-search margin-right-5" aria-hidden="true" />Search</a></li>
							<li class="menu-li"><a href="" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"><i class="fa fa-plus margin-right-5"
									aria-hidden="true" />Add<span
									class="glyphicon glyphicon-menu-right visible-xs-block"
									style="float: right;" aria-hidden="true" /><span
									class="glyphicon glyphicon-menu-down visible-xs-block"
									style="float: right;" aria-hidden="true" /></a>
								<ul class="dropdown-menu submenu-ul">
									<li class="submenu-li"><a href="#addAlbum">Album</a></li>
									<li class="submenu-li"><a href="#addPlaylist">Playlist</a></li>
									<li class="submenu-li"><a href="#addSong">Song</a></li>
								</ul></li>
							<li class="menu-li"><a href="" class="dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><i
									class="fa fa-folder-open margin-right-5" aria-hidden="true" />Browse<span
									class="glyphicon glyphicon-menu-right visible-xs-block"
									style="float: right;" aria-hidden="true" /><span
									class="glyphicon glyphicon-menu-down visible-xs-block"
									style="float: right;" aria-hidden="true" /></a>
								<ul class="dropdown-menu submenu-ul">
									<li class="submenu-li"><a href="#browseAlbums">Albums</a></li>
									<li class="submenu-li"><a href="#browsePlaylists">Playlists</a></li>
									<li class="submenu-li"><a href="#browseArtists">Artists</a></li>
									<li class="submenu-li"><a href="#browseSongs">Songs</a></li>
								</ul></li>
							<li class="menu-li"><a href="" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"><i class="fa fa-cogs margin-right-5"
									aria-hidden="true" />Admin<span
									class="glyphicon glyphicon-menu-right visible-xs-block"
									style="float: right;" aria-hidden="true" /><span
									class="glyphicon glyphicon-menu-down visible-xs-block"
									style="float: right;" aria-hidden="true" /></a>
								<ul class="dropdown-menu submenu-ul">
									<li class="submenu-li"><a href="">Manage Users</a></li>
									<li role="separator" class="divider"></li>
									<li class="submenu-li"><a href="">Manage Jobs</a></li>
									<li class="submenu-li"><a href="">Manage Cache</a></li>
								</ul></li>
							<li class="menu-li menu-li-last"><a href=""
								class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"><i
									class="fa fa-user margin-right-5" aria-hidden="true" />Rohit<span
									class="glyphicon glyphicon-menu-right visible-xs-block"
									style="float: right;" aria-hidden="true" /><span
									class="glyphicon glyphicon-menu-down visible-xs-block"
									style="float: right;" aria-hidden="true" /></a>
								<ul class="dropdown-menu submenu-ul">
									<li class="submenu-li"><a href="">{{context.session.user.roles}}</a></li>
									<li class="submenu-li"><a ng-click="logout()" href="">Logout</a></li>
								</ul></li>
						</ul>
						<form id="_logoutForm" th:action="@{/logout}" method="post"
							style="display: none;" />
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>

		<!-- breadcrumbs -->
		<!-- <section class="apollo-breadcrumbs">
			<div>
				<ol class="breadcrumb" style="padding-right: 0px;">
					<li>User</li>
					<li class="active">Home</li>
				</ol>
			</div>
		</section> -->

		<!-- container -->
		<section class="apollo-content" id="mainContainer"
			data-ng-cloak="true">
			<h2 class="apollo-page-header">
				{{pageTitle}}
				<button class="btn btn-danger float-right"
					data-ng-click="handlePageControl()" data-ng-show="showPageControl">{{pageControlName}}</button>
			</h2>
			<em>{{pageDescription}}</em>

			<div class="apollo-msg" style="display: none;">
				<span id="_pageAlertIcon" class="glyphicon">&nbsp;</span> <span
					id="_pageAlertMsg" />
			</div>

			<div style="margin-top: 10px;" data-ng-view=""></div>

			<a id="routingLink" href="#" class="hidden"></a>
			<form id="_artworkFileForm" name="artworkFileForm" action="#"
				method="post">
				<input id="_artworkFile" type="file" class="hidden" accept="image/*" />
			</form>
		</section>
		<!-- ./container -->

		<!-- bottom bar -->
		<object th:remove="tag" th:include="templates :: footer" />
	</div>

	<!-- modal to show help message -->
	<object th:remove="tag" th:include="templates :: help-msg" />

	<!-- include java scripts -->
	<object th:remove="tag" th:include="templates :: scripts-external" />
	<object th:remove="tag" th:include="templates :: scripts-custom" />
</body>
</html>
