<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" data-ng-app="apollo" class="no-js"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Apollo</title>

<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />

<script th:inline="javascript">
	/*<![CDATA[*/
	var home_info = JSON.parse(/*[[${home_info}]]*/'{}');
	/*]]>*/
</script>

<!-- stylesheets -->
<link type="text/css" rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/app.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body data-ng-controller="mainController" data-ng-cloak="true">
	<!--[if lt IE 11]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="apollo_wrapper" class="container-fluid">
		<header class="apollo-header">
			<nav class="navbar apollo-header-nav">
				<div class="row">
					<div class="col-xs-5">
						<img class="img-responsive apollo-brand"
							th:src="@{/img/apollo.png}" />
						<h1 class="apollo-brand">Apollo</h1>
					</div>
					<div id="apolloLinksDiv" class="col-xs-7"
						style="padding-right: 0px;">
						<ul class="apollo-menu">
							<li class="apollo-menu-item"><a href=""
								class="apollo-menu-item-label"><span
									class="glyphicon glyphicon-user" /></a>
								<div class="apollo-submenu" id="3#">
									<a class="apollo-submenu-item" href="" data-ng-click="logout()">Sign
										Out</a>
								</div></li>

							<li class="apollo-menu-item"><a href=""
								class="apollo-menu-item-label">Manage</a>
								<div class="apollo-submenu" id="2#">
									<a class="apollo-submenu-item" href="">Maintain Users</a> <a
										class="apollo-submenu-item" href="">Maintain Access</a> <a
										class="apollo-submenu-item" href="">Maintain Alerts</a>
								</div></li>


							<li class="apollo-menu-item"><a href=""
								class="apollo-menu-item-label">Library</a>
								<div class="apollo-submenu" id="1#">
									<a class="apollo-submenu-item" href="">PlayLists</a> <a
										class="apollo-submenu-item" href="">Album Artists</a><a
										class="apollo-submenu-item" href="">Track Artists</a> <a
										class="apollo-submenu-item" href="">Albums</a> <a
										class="apollo-submenu-item" href="">Search Songs</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- breadcrumbs -->
		<!-- <section class="apollo-breadcrumbs">
			<div>
				<ol class="breadcrumb" style="padding-right: 0px;">
					<li>User</li>
					<li class="active">Home</li>
				</ol>
			</div>
		</section> -->

		<!-- container -->
		<section class="apollo-content" id="mainContainer"
			data-ng-cloak="true">
			<h2 class="apollo-content-header">{{pageHeader}}</h2>

			<div id="_alertMessage" class="apollo-alert" style="display: none;" />

			<div data-ng-view=""></div>

			<a id="routingLink" href="#" style="display: none;"></a>
		</section>
		<!-- ./container -->

		<!-- bottom bar -->
		<footer class="apollo-footer">
			<nav class="navbar apollo-footer-nav">
				<div class="row">
					<div class="col-lg-6 col-xs-4">
						<a target="_new" href="http://www.wikipedia.com"><strong>Wikipedia</strong></a>&nbsp;|&nbsp;
						<a href="" data-toggle="modal" data-target="#helpMsg"><strong>Help</strong></a>
					</div>
					<div class="col-lg-6 col-xs-8 text-right">
						<h5>© Copyright 2016 Rohit Narayanan. All rights reserved.</h5>
					</div>
				</div>
			</nav>
		</footer>
	</div>

	<!-- modal to show help message -->
	<div class="modal" id="helpMsg" tabindex="-1" role="dialog"
		aria-labelledby="helpMsgLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="alert alert-info" role="alert">
						<h2 class="modal-title" id="helpMsgLabel">Help</h2>
					</div>
				</div>
				<div class="modal-body">
					<h3>Coming Soon !!</h3>
					<p>We are working on the help section and it will be available
						in the following release</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- external scripts -->
	<script th:src="@{/webjars/modernizr/2.8.3/modernizr.js}"></script>
	<script th:src="@{/webjars/jquery/2.2.1/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.0/angular.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.0/angular-route.js}"></script>

	<!-- other custom scripts -->
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/controllers.js}"></script>
	<script th:src="@{/js/services.js}"></script>
	<script th:src="@{/js/app.js}"></script>
</body>
</html>
