<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="lseweb" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<object th:remove="tag" th:include="templates :: head" />
</head>

<body>
	<!--[if lt IE 11]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="apollo_wrapper" class="container-fluid">
		<header class="apollo-header">
			<nav id="apolloHeaderNavbar"
				class="navbar navbar-default apollo-header-nav">
				<!-- Brand -->
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home}"> <img
						class="img-responsive apollo-brand" th:src="@{/img/apollo.png}" />
					</a>
				</div>
			</nav>
		</header>

		<!-- container -->
		<section class="clearfix apollo-content">
			<div th:replace="templates :: section_auth_error_msg"></div>

			<div
				class="text-center col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
				<form method="post" th:action="@{/login}">
					<h3 class="form-signin-heading">Please sign in</h3>
					<div class="form-group">
						<label for="_username" class="sr-only">Username</label>
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-user fa-fw"></i></span> <input type="text" id="_username"
								name="username" class="form-control" placeholder="Username"
								required="required" autofocus="autofocus" />
						</div>
					</div>
					<div class="form-group">
						<label for="_password" class="sr-only">Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							<input type="password" id="_password" name="password"
								class="form-control" placeholder="Password" required="required" />
						</div>
					</div>
					<!-- <div class="form-group">
						<div class="checkbox">
							<label> <input type="checkbox" value="remember-me" />
								Remember me
							</label>
						</div>
					</div> -->
					<button class="btn apollo-btn" style="min-width: 120px;"
						type="submit">Sign in</button>
				</form>
			</div>
		</section>
		<!-- ./container -->

		<!-- bottom bar -->
		<object th:remove="tag" th:include="templates :: footer" />
	</div>

	<!-- modal to show help message -->
	<object th:remove="tag" th:include="templates :: help-msg" />

	<!-- include java scripts -->
	<object th:remove="tag" th:include="templates :: scripts-external" />
</body>
</html>
