<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="head">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Apollo</title>

		<link rel="shortcut icon" type="image/x-icon"
			th:href="@{/img/icon.jpg}" />

		<!-- stylesheets -->
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/jstree/3.2.1/themes/default-dark/style.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.bootstrap.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/external/datatables.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/app.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/menu-styles.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/message-styles.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/datatable-styles.css}" />

		<!-- <link type="text/css" rel="stylesheet" th:href="@{/css/skins/black.css}" /> -->
	</div>

	<div th:fragment="footer">
		<footer class="apollo-footer">
			<nav id="apolloFooterNavbar" class="navbar">
				<div class="row">
					<div class="col-lg-6 col-xs-4">
						<a class="apollo-footer-link" target="_new"
							href="http://www.wikipedia.com"><strong>Wikipedia</strong></a>&nbsp;|&nbsp;
						<a class="apollo-footer-link" href="" data-toggle="modal"
							data-target="#helpMsg"><strong>Help</strong></a>
					</div>
					<div class="col-lg-6 col-xs-8 text-right">
						<h6 style="margin: 0px;">
							<span class="glyphicon glyphicon-copyright-mark"
								style="margin-right: 2px;" />Copyright 2016 Rohit Narayanan.
							All rights reserved.
						</h6>
					</div>
				</div>
			</nav>
		</footer>
	</div>

	<div th:fragment="section_auth_error_msg" style="margin-top: 20px;">
		<div th:if="${param.notLoggedIn}" class="apollo-msg msg-success">
			<span class="glyphicon glyphicon-ok">&nbsp;</span>Please login to
			proceed
		</div>

		<div th:if="${param.logout}" class="apollo-msg msg-success">
			<span class="glyphicon glyphicon-ok">&nbsp;</span>You have been
			logged out.
		</div>

		<div th:if="${param.sessionExpired}" class="apollo-msg msg-warn">
			<span class="glyphicon glyphicon-alert">&nbsp;</span>Session Expired.
			Please Login Again
		</div>

		<div th:if="${param.sessionInvalid}" class="apollo-msg msg-warn">
			<span class="glyphicon glyphicon-alert">&nbsp;</span>Invalid Session.
			Please Login Again
		</div>

		<div th:if="${param.errorType}" th:switch="${param.errorType[0]}"
			th:attr="data-dd=${param.errorType[0]}" class="apollo-msg msg-error">
			<span class="glyphicon glyphicon-remove">&nbsp;</span> <span
				th:case="'incorrectLogin'">Invalid username or password</span> <span
				th:case="'userDisabled'">The user account is disabled or
				inactive. Please contact the Administrator</span> <span
				th:case="'userCredentialsAccount'">The password has expired.
				Please reset your password and try again</span> <span
				th:case="'userAccountExpired'">The user account has expired.
				Please contact the Administrator</span> <span th:case="'userAccountLocked'">The
				user account is locked . Please contact the Administrator</span> <span
				th:case="*">Error in login. Please contact the Administrator</span>
		</div>
		<div th:if="${param.error}" class="apollo-msg msg-error">
			<span class="glyphicon glyphicon-remove">&nbsp;</span>The was an
			error during login. Please contact the Administrator
		</div>
	</div>

	<div th:fragment="help-msg">
		<div class="modal" id="helpMsg" tabindex="-1" role="dialog"
			aria-labelledby="helpMsgLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="alert alert-info" role="alert">
							<h2 class="modal-title" id="helpMsgLabel">Help</h2>
						</div>
					</div>
					<div class="modal-body">
						<h3>Coming Soon !!</h3>
						<p>We are working on the help section and it will be available
							in the following release</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:fragment="scripts-external">
		<script th:src="@{/webjars/modernizr/2.8.3/modernizr.js}"></script>
		<script th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
		<script th:src="@{/webjars/jstree/3.2.1/jstree.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/angularjs/1.5.5/angular.js}"></script>
		<script th:src="@{/webjars/angularjs/1.5.5/angular-route.js}"></script>
		<script th:src="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.js}"></script>
		<script th:src="@{/js/external/datatables.js}"></script>
	</div>

	<div th:fragment="scripts-custom">
		<script th:src="@{/js/main.js}"></script>
		<script th:src="@{/js/plugins.js}"></script>
		<script th:src="@{/js/datatables.js}"></script>
		<script th:src="@{/js/services.js}"></script>
		<script th:src="@{/js/controllers.js}"></script>
		<script th:src="@{/js/app.js}"></script>
	</div>

	<!-- Modal -->
	<div th:fragment="file-system-modal">
		<div id="_fileSystemModal" class="modal fade" tabindex="-1"
			aria-labelledby="_fileSystemLabel" role="dialog"
			data-backdrop="static">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 id="_fileSystemLabel">
							Select <span id="_fsMode">Folder</span> <span
								class="glyphicon glyphicon-remove"
								style="float: right; cursor: pointer;" data-dismiss="modal"
								aria-hidden="true"></span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="apollo-msg" style="display: none;">
							<span class="_modalAlertIcon glyphicon">&nbsp;</span> <span
								class="_modalAlertMsg" />
						</div>
						<div class="clearfix">
							<div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
								<input id="_fileTreeRoot" type="text" class="form-control"
									value="" placeholder="Tree Root" />
							</div>
							<button
								class="btn btn-warning btn-responsive col-lg-2 col-md-2 col-sm-4 col-xs-4"
								onclick="apollo.plugins.FileSystemUtil.loadTree()">Load</button>
						</div>
						<hr style="margin: 10px 0px 10px 0px;" />

						<div id="_fileTreeScroller" style="overflow: auto; height: 170px;">
							<div id="_fileTree"></div>
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-warning btn-responsive" id="_selectFolder"
							onclick="apollo.plugins.FileSystemUtil.selectFolder()">Apply</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
