<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="head">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Apollo</title>

		<link rel="shortcut icon" type="image/x-icon"
			th:href="@{/img/icon.jpg}" />

		<!-- stylesheets -->
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/external/jstree.style.min.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.bootstrap.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/external/datatables.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/app.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/menu-styles.css}" />
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/message-styles.css}" />

		<!-- <link type="text/css" rel="stylesheet" th:href="@{/css/skins/black.css}" /> -->
	</div>

	<div th:fragment="footer">
		<footer class="apollo-footer">
			<nav id="apolloFooterNavbar" class="navbar">
				<div class="row">
					<div class="col-lg-6 col-xs-4">
						<a class="apollo-footer-link" target="_new"
							href="http://www.wikipedia.com"><strong>Wikipedia</strong></a>&nbsp;|&nbsp;
						<a class="apollo-footer-link" href="" data-toggle="modal"
							data-target="#helpMsg"><strong>Help</strong></a>
					</div>
					<div class="col-lg-6 col-xs-8 text-right">
						<h6 style="margin: 0px;">
							<span class="glyphicon glyphicon-copyright-mark"
								style="margin-right: 2px;" />Copyright 2016 Rohit Narayanan.
							All rights reserved.
						</h6>
					</div>
				</div>
			</nav>
		</footer>
	</div>

	<div th:fragment="help-msg">
		<div class="modal" id="helpMsg" tabindex="-1" role="dialog"
			aria-labelledby="helpMsgLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="alert alert-info" role="alert">
							<h2 class="modal-title" id="helpMsgLabel">Help</h2>
						</div>
					</div>
					<div class="modal-body">
						<h3>Coming Soon !!</h3>
						<p>We are working on the help section and it will be available
							in the following release</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:fragment="scripts-basic">
		<script th:src="@{/webjars/modernizr/2.8.3/modernizr.js}"></script>
		<script th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
		<script th:src="@{/js/external/jstree.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/angularjs/1.5.5/angular.js}"></script>
		<script th:src="@{/webjars/angularjs/1.5.5/angular-route.js}"></script>
		<script th:src="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.js}"></script>
		<script th:src="@{/js/external/datatables.js}"></script>
	</div>

	<div th:fragment="scripts-custom">
		<script th:src="@{/js/main.js}"></script>
		<script th:src="@{/js/datatableConfig.js}"></script>
		<script th:src="@{/js/plugins.js}"></script>
		<script th:src="@{/js/controllers.js}"></script>
		<script th:src="@{/js/services.js}"></script>
		<script th:src="@{/js/app.js}"></script>
	</div>

	<!-- Modal -->
	<div th:fragment="file-system-modal">
		<div id="_fileSystemModal" class="modal fade" tabindex="-1"
			aria-labelledby="_fileSystemLabel" role="dialog"
			data-backdrop="static">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 id="_fileSystemLabel">
							Select <span id="_fsMode">Folder</span> <span
								class="glyphicon glyphicon-remove"
								style="float: right; cursor: pointer;" data-dismiss="modal"
								aria-hidden="true"></span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="apollo-msg" style="display: none;">
							<span class="_modalAlertIcon glyphicon">&nbsp;</span> <span
								class="_modalAlertMsg" />
						</div>

						<div id="_fileTree"></div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-warning apollo-btn" id="_selectFolder"
							onclick="apollo.plugins.FileSystemUtil.selectFolder()">Apply</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
